fastapi
uvicorn
qdrant-client
openai
pydantic
python-dotenv
fastembed
sqlmodel
asyncpg
passlib[bcrypt]
httpx
pytest
aiosqlite
sqlalchemy
bcrypt
python-jose[cryptography]
fastapi_limiter
psycopg2
google-generativeai
